{% extends "base.html" %}
{% import '_forms.html' as forms %}
{% block content %}

  <div class="page-header">
    <h1>{{ board.title }}</h1>
  </div>
    <h2>Thread</h2>
  <table id="threads" class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Subject </th>
          <th> creator </th>
          <th> created </th>
      </tr>
    </thead>

  <tbody>
    <tr>
  <th>{{ thread.title }}</th>
  <td>  {{thread.creator.first_name}}</td>
  <td>  {{thread.created.strftime('%Y-%m-%d %H:%M')}}</td>
  </tbody>
    </table>
  <hr>
  <h2>Posts</h2>
  <table id="threads" class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Subject </th>
          <th> creator </th>
          <th> created </th>
      </tr>
    </thead>

  <tbody>
    <tr>
      <tbody>
        {% if thread.posts %}
          {%set cnt=0%}
          {% for post in thread.posts %}
          {%set cnt=cnt+1 %}
        <tr>
      <th>{{ post.post.title  }}</th>
      <td>  {{post.post.creator.first_name}}</td>
      <td>  {{post.post.created.strftime('%Y-%m-%d %H:%M')}}</td>
    </tr>
    <tr>
    <th>{{cnt}}{{ ": =>  " + post.post.body }}</th></tr>
      {% endfor %}
    {% endif %}
      </tbody>
        </table>
  <hr>
  <h2><a href="{{ url_for('.create_post', id=board.id,dt=key) }}">Add a post</a></h2>
  <hr>
{% endblock %}
