{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" name="form">
            <br><br><br>
            <div class="col-md-4 col-md-offset-4">



                <div class="form-group">
                    <label class="control-label" for="org">Organization</label><br>
                    {{ form.org }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Registration Type</label><br>
                    {{ form.reg_type }}
                </div>
               <div class="form-group">
                    <label class="control-label" for="message">Message</label>
                    {{ form.message(cols="45", rows="5") }}
                </div>

                <div class="form-group">
                  {#  <label class="control-label" for="first_name">First Name</label> #}
                    {{ render_field(form.first_name) }}
                </div>
                <div class="form-group">
                  {#  <label class="control-label" for="last_name">Last Name</label> #}
                    {{ render_field(form.last_name) }}
                </div>

                <div class="form-group">
                  {#  <label class="control-label" for="email">Email</label> #}
                    {{ render_field(form.email) }}
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>

{% endblock %}
