{% extends "base.html" %}
{% block content %}
        <h2>This is the about page for Duluth Kids!</h2>
        <li>
           <a href="{{ url_for('home') }}"><img src='/static/rainbow.gif'/></a>
        </li>
<br>
<li>  Our main goal is to improve communications about and for Duluth children ages 9-13 </li>
<li>  However for now we are concentrating on communications about Duluth Kids </li>
<li> currently this is a demo, but you can register an organization here </li>
<br>
<p> <strong> This application is about setting up one scheduling system </strong></p><p><strong>
      for Duluth kids activities from <u>ages 9-13</u></strong></p><p><strong> which can be used by all organizations that
      provide activities for this age group,</strong></p><p><strong> as well as to support communications between
      these organizations </strong></p> 

{% endblock %}